################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoftClub/bin/Debug/net9.0
/LoftClub/obj
